*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  
 min-height: 100vh;
  background: 
    linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),
    url('/home/marika/Desktop/weather-app/public/weather.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
